@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap&#39');
:root{
  --cor-de-fundo:#E6C8E4;
  --grifar:#E398B1;
  --branco:#ffffff;
  --botao-ativo:#CAE3DA;
  --botao-inativo:#E3CAE0;
  --texto-fundo:#000000;

} 

body{
  background-color:var(--cor-de-fundo);
  color:var(--branco);
  font-family:'Times New Roman', Times, serif;
}